/* Illustration.css */
.illustration {
    text-align: center;
    height: fit-content;
    width: 50%;
    float: right;
  }
  
  .illustration h2 {
    margin-bottom: 10px;
  }
  
  .illustration p {
    margin-bottom: 20px;
  }
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .dot.active {
    background-color: #333;
  }
  .large-text {
    font-family: 'Arial', sans-serif; /* Adjust font family as needed */
    font-size: 24px; /* Adjust size as needed */
    color: #333; /* Adjust color as needed */
    text-align: center; /* Centers the text */
  }
  
  .small-text {
    font-family: 'Arial', sans-serif; /* Adjust font family as needed */
    font-size: 14px; /* Adjust size as needed */
    font-weight: normal; /* Normal font weight */
    color: #666; /* Adjust color as needed */
    text-align: center; /* Centers the text */
  }
  .img{
    height:50px;

  }
  
  
  