/* SignupOption.css */
.signup-option {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fafbfb;
  }
  
  .signup-button img {
    margin-right: 10px;
    width: 10%;
  }
  
  .or-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
  
  }
  .or-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
  
  }
  
  .or-divider span {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    background: white;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .or-divider:before,
  .or-divider:after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
    
  }
  
  .signup-option p {
    margin: 10px 0;
  }

  